* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

body {
	font-family: "Helvetica Neue Regular", Tahoma;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.container {
	max-width: 1215px;
	margin: 0 auto;
}

main {
	height: 1028px;
	background-image: url(../img/fon.jpg);
	background-color: gray;
	background-repeat: no-repeat;
	background-size: contain;
}

/* HEADER*/

.main-header {
	height: 36px;
	background-image: url(../img/header-texture.png);
	background-repeat: repeat;
	background-color: #074f8f;
}

.registation {
	position: relative;
	float: right;
}

ul.main-menu {
	display: block;
}

ul.main-menu > li {
	float: right;
	position: relative;
}

ul.main-menu > li > a {
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
	padding: 0 12px;
	line-height: 36px;
	color: #60b5ed;
}

ul.main-menu > li > a:hover {
	background-color: #4eabda;
	color: white;
	font-weight: bold;
}

.rectangle {
	position: absolute;
	top: 2px;
	width: 1px;
	height: 31px;
	background: #226ba8;
}

.registation-flag a {
	display: inline-block;
	vertical-align: top;
	height: 36px;
	line-height: 36px;
}

.registation-flag {
	position: relative;
	float: left;
	height: 36px;
	width: 161px;
	text-align: center;
	line-height: 36px;
}

.registation-flag a {
	display: inline-block;
	line-height: 36px;
}
.registation-flag img {
	padding-left: 20px;
	 vertical-align: middle;
}

.registration-menu-btn {
	position: relative;
	float: right;
	height: 36px;
	width: 191px;
	margin: 0px 20px 0 17px;
	background-image: url(../img/fon-menu-registration.png);
	background-color: #4ca8d9;
	background-repeat: no-repeat;
	text-align: center;
	line-height: 36px;
	color: white;
}

.registration-menu-btn a {
	text-decoration: underline;
}

.registration-menu-btn a:hover {
	text-decoration: none;
}

/* END HEADER */
/* MODAL WINDOW */

.modal-form {
	position: fixed;
	top: 20vh;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	height: 613px;
	width: 560px;
	display: block;
}

.separator {
	margin-bottom: 20px;
	height: 24px;
	line-height: 24px;
	color: #999999;
	text-align: center;
}

.strip {
	position: absolute;
	left: 142px;
	top: 192px;
	width: 123px;
	height: 1px;
	background: black;
	box-shadow: 0px -1px 0px 0px rgba(71,71,70,1);
}

.strip-1 {
left: 296px
}

.modal-form input {
	display: block;
}

input[type=text],
input[type=email],
input[type=password] {
	margin: 0 auto 17px;
	height: 35px;
	width: 275px;
	padding-left: 19px;
	background-color: black;
	border: 0;
	box-shadow: 0px 1px 0px 0px rgba(71,71,70,1);
	color: #cccccc;
}

input[type=text]:focus {
	background-color: #1b5288;
}

input[type=email]:focus {
	background-color: #1b5288;
}

input[type=password]:focus {
	background-color: #1b5288;
}


.facebook-registration-btn {
	margin: 0px auto 30px;
	border: 0;
	height: 35px;
	width: 276px;
	background-image: url(../img/login-facebook-btn.png);
	background-color: #324a86;
	background-repeat: no-repeat;
}

.create-account-btn {
	margin: 0 auto 25px;
	height: 37px;
	width: 151px;
	color: white;
	background: linear-gradient(to top, #2e7ac4, #50aedb);
	border: 1px solid #6bb8e7;
	border-radius: 2px;
}

.modal-form p {
	text-align: center;
	font-size: 11px;
	color: #cccccc;
}

.title {
	height: 62px;
	margin-bottom: 2px;
	background-color: rgba(0, 0, 0, 0.63);
	line-height: 62px;
}

.title h1 {
	font-size: 24px;
	text-align: center;
	color: white;
}

.form-block {
	height: 513px;
	padding-top: 36px;
	background-color: rgba(0, 0, 0, 0.63);
}

.form-block label {
	display: inline-block;
	padding-bottom: 25px;
	text-align: center;
	color: #cccccc;
}

input[type=checkbox] {
	position: relative;
	margin-right: 10px;
	margin-left: 143px;
	display: inline-block;
	z-index: 2;
}

#checkbox-img {
	display: inline-block;
	height: 13px;
	width: 13px;
	left: 143px;
	position: absolute;
	background-image: url(../img/checkbox-icon.png);
	z-index: 1
}

/* END MODAL WINDOW */
